body {
  text-align: center;
  background-image: url("./images/background.jpg");
}
.Quiz{
  font-size: 350%;
  font-weight: 600;
}
.score{
  margin-top: 3%;
  font-size: x-large;
  font-weight: 500;
}
.strt-btn{
  margin-top: 3%;
  width: 100px;
}
